dist/*
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.pytest_cache/*
.mypy_cache/*
.ruff_cache/*
.vscode/*
.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.coverage
*.log
*/logs/*
*/temp_files/*
**/test_logs/*
temp_files/*
**/mock_data/*
**/sample_manuscript/*.json
**/temp_files/*